.nav-admin{
    width: 30%;
    height: 100vh;
    background-color: #eaeaea;
    position: fixed;

    &-content{
        padding: 2%;
        display: flex;
        align-items: center;
        margin: auto;
    }

    &-ul{
        padding: 0%;
    }

    &-div{
        padding: 2%;
    }

    &-link{
        text-decoration: none;
        color: black;
        
    }
    &-li{
        list-style-type: none;
        padding: 2%;
    }
}